.fatex-actions {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    text-shadow: 1px 1px 2px #a0a0a0;
    pointer-events: none;
    z-index: 5;

    &--headline {
        right: 15px;
    }

    &--headline,
    &--skill {
        top: 0;
        padding: 0 10px 0 50px;
        background: transparent;
    }

    &--skill {
        right: 0;
    }

    &--skill-secondary {
        left: -15px;
        top: 20px;
        gap: 0;
        font-size: 16px;
        color: $primary-color;
        text-shadow: 1px -1px 1px $sheet-background;
    }

    &__icon {
        cursor: pointer;
        opacity: 0;

        &--add {
            @include fa-icon($fa-var-plus);
        }

        &--collapse {
            @include fa-icon($fa-var-chevron-down);
        }

        &--collapse,
        &--expand,
        &--toggle {
            opacity: 1;
            pointer-events: all;
        }

        &--delete {
            transition: color 0.2s;
            cursor: pointer;

            @include fa-icon($fa-var-trash);

            &:hover {
                color: $caution-color;
            }
        }

        &--drag {
            @include fa-icon($fa-var-sort);
            cursor: move;
        }

        &--expand {
            @include fa-icon($fa-var-chevron-up);
        }

        &--secondary {
            font-family: "Fate Icons", sans-serif;
        }

        &--settings {
            @include fa-icon($fa-var-cog);
        }

        &--sort {
            @include fa-icon($fa-var-sort-amount-down);
        }

        &--toggle {
            font-size: 12px;
            @include fa-icon($fa-var-sync);

            &::before {
                margin-right: 8px;
            }
        }
    }
}

.fatex-eb-edit-mode {
    .fatex-actions--headline,
    .fatex-actions--skill {
        background: linear-gradient(90deg, rgba(47, 53, 66, 0) 0%, #2f3542 33%, #2f3542 100%);
    }

    .fatex-actions__icon {
        opacity: 1;
        pointer-events: all;
    }
}
