.fatex-actions {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    text-shadow: 1px 1px 2px $fatex-button-shadow-color;
    pointer-events: none;
    z-index: 4;

    &--automation-item {
        right: $component-padding * 2;
        top: 50%;
        transform: translateY(-50%);

        .fatex-actions__icon {
            font-size: 14px;
        }
    }

    &--headline,
    &--setting,
    &--skill {
        right: 15px;
        padding: 0 10px 0 50px;
        top: 0;
        background: transparent;
    }

    &--item {
        top: -10px;
    }

    &--item,
    &--section-heading {
        right: 0;
        padding-left: 50px;
        font-size: 18px;
    }

    &--section-heading {
        top: 5px;
    }

    &--skill {
        right: 0;
    }

    &--setting {
        padding-left: 10px;
        cursor: pointer;
        pointer-events: initial;
    }

    &--skill-secondary {
        left: -15px;
        top: 20px;
        gap: 0;
        font-size: 16px;
        color: $fatex-primary-color;
        text-shadow: 1px -1px 1px $fatex-sheet-background-color;
    }

    &__icon {
        cursor: pointer;
        opacity: 0;

        &--no-hide {
            opacity: 1;
            pointer-events: all;
        }

        &--move {
            cursor: move;
        }

        &--reverse {
            transform: rotate(180deg);
            text-shadow: -1px -1px 2px #a0a0a0;
        }

        &--secondary {
            font-family: "Fate Icons", sans-serif;
        }
    }

    &__text {
        font-size: 12px;
    }
}

.fatex-js-edit-mode {
    .fatex-actions--headline,
    .fatex-actions--skill {
        background: linear-gradient(90deg, transparent, $fatex-primary-color 33%, $fatex-primary-color 100%);
    }

    .fatex-actions--item,
    .fatex-actions--section-heading {
        background: linear-gradient(90deg, transparent 0%, $fatex-sheet-background-color 33%, $fatex-sheet-background-color 100%);
    }

    .fatex-actions__icon {
        opacity: 1;
        pointer-events: all;
    }
}
