.fatex-button {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;

    &--clear-all {
        flex-direction: column;
        grid-area: r;
    }

    &--clear-all,
    &--light {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        border: 1px solid #2f3542;
        transition: all 0.3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &--dark {
        display: flex;
    }

    &--dark,
    &--square {
        gap: 8px;
        align-items: center;
        justify-content: center;
        background: #2f3542;
        color: white;
    }

    &--dark:before {
        margin-right: $component-padding;
    }

    &--square {
        display: inline-flex;
        padding: 10px;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 0;
        box-shadow: 2px 2px 4px 0 #2f3542;

        i {
            transform: translateY(-1px);
        }
    }

    &--setup {
        display: flex;
        width: fit-content;
        margin: $component-padding auto 0 auto;
    }
}
