.fatex-chat {
    font-size: 24px;
    position: relative;
    text-align: center;
}

.fatex-chat__message--selected {
    //filter: grayscale(100%);
    box-shadow: inset 0 0 20px 3px rgba(0, 0, 0, 0.5);

    .fatex-roll {
    }
}

.fatex-chat__actions {
    display: flex;
    flex-direction: column;
    inset: 0 0 0 auto;
    position: absolute;

    button {
        align-items: center;
        background-color: transparent;
        border: 2px solid $fatex-primary-color;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        font-size: 10px;
        height: 20px;
        justify-content: center;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-align: center;
        white-space: nowrap;
        width: 20px;

        i {
            margin: 0;
            padding: 0;
        }
    }
}

.fatex-chat__headline-container {
    margin: $component-padding auto;
    position: relative;
    width: 70%;
}

.fatex-rollWrapper {
    position: relative;
}

@keyframes grow-shrink {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fatex-roll {
    align-items: center;
    color: $fatex-primary-color;
    display: flex;
    flex-direction: column;

    .fatex-result {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;

        &:hover {
            .fatex-roll__history {
                display: block;
            }
        }
    }

    &__history {
        bottom: 100%;
        color: white;
        display: none;
        font-size: 10px;
        padding-bottom: $component-padding;
        position: absolute;
        text-align: left;
        z-index: 200;

        &:hover {
            display: block;
        }

        div {
            background: rgba(0, 0, 0, 0.9);
            padding: 5px 10px;
            white-space: nowrap;
        }
    }

    .fatex-chat__roll--totalChanged & {
        &__total {
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-name: grow-shrink;
            animation-timing-function: ease-in-out;
        }
    }

    .fatex-chat__roll--reroll & {
        .fatex-dice div {
            animation-duration: 1s;
            animation-iteration-count: 5;
            animation-name: spin;
            animation-timing-function: linear;
        }
    }

    &__ladder {
        font-size: 12px;
        font-weight: 300;
    }

    &__total {
        font-weight: 700;
    }
}

.fatex-roll-actions {
    display: flex;
    gap: $component-padding;
    margin: $component-padding;
    text-align: center;

    button {
        background-color: transparent;

        border: 2px solid $fatex-primary-color;
        border-radius: 5px;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: bold;
        height: 30px;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        width: 30px;
        i {
            margin: 0;
            padding: 0;
        }

        &[data-action="increase"] {
            text-indent: -2px;
        }

        &:disabled {
            opacity: 0.5;
        }
    }
}

.fatex-dice {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-bottom: $component-padding * 2;
    font-family: "Fate Icons", sans-serif;

    div {
        width: 24px;
        height: 24px;
        text-align: center;

        &.fatex-dice__magic_die {
            color: $magic-color;
        }
    }
}
