.fatex-desk {
    display: grid;
    grid-template-rows: min-content minmax(100px, 100%) min-content;
    grid-template-areas: "header" "content" "footer";
    height: 100%;

    &__aspects {
        grid-area: aspects;
    }

    &__aspects,
    &__consequences {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    &__consequences {
        grid-area: consequences;
    }

    &__content {
        grid-area: content;
        overflow-y: auto;
        scrollbar-width: thin;

        &--actor-sheet {
            display: grid;
            grid-template-columns: 4fr 1fr;
        }

        &--reversed {
            grid-template-columns: 1fr 4fr;
        }
    }

    &__footer {
        grid-area: footer;
    }

    &__header {
        grid-area: header;
        box-shadow: 0 2px 15px 0 $header-shadow-color;
        background: $header-background;
        z-index: 5;
    }

    &__messages {
        grid-area: messages;
    }

    &__sidebar {
        min-width: 240px;
        box-shadow: 12px 0 15px 0 $header-background;

        &--reversed {
            box-shadow: -12px 0 15px 0 $header-background;
        }
    }

    &__tabloid {
        min-width: 650px;
        display: grid;
        grid-template-columns: 55% 1fr;
        grid-template-rows: min-content min-content 1fr min-content;
        grid-template-areas: "messages messages" "aspects consequences" "tabs tabs" "copyright copyright";
    }

    &__tabs {
        grid-area: tabs;
    }
}
