.fatex-header {
    position: relative;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 10px 8px 10px;
    font-size: 23px;
    color: var(--fatex-light-text-color, $light-text-color);
    background: var(--fatex-primary-color, $primary-color);
    box-shadow: 0 2px 15px 0 var(--fatex-primary-color, $primary-color);
    z-index: 5;

    &__name {
        display: flex;
        flex-direction: column-reverse;
        width: 50%;
    }

    &__fate-points {
        display: flex;
        flex-direction: column-reverse;
    }

    &__label {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 3px;
        padding-left: 2px;
        padding-top: 3px;
        white-space: nowrap;

        &--center {
            padding-left: 0;
            text-align: center;
        }
    }

    &__fate-points-wrapper {
        display: flex;
        justify-content: center;
    }

    &__fatepoint-divider {
        font-size: 25px;
        line-height: 25px;
    }

    &__logo {
        height: 40px;
    }

    &__title {
        height: 25px;
        font-size: 23px;
    }
}
