.fatex-text-input,
input[type="text"].fatex-text-input {
    display: flex;
    flex-direction: column-reverse;
    min-height: 24px;
    padding: 3px 0 3px $component-padding / 2;
    background: transparent;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid $primary-color;

    &::placeholder {
        color: $primary-color;
        opacity: 0.3;
    }

    &:focus ~ .fatex-actions--item {
        opacity: 0;
        pointer-events: none;
    }

    &--fp {
        width: 40px;
        text-align: center;
    }

    &--fp,
    &--header {
        height: 25px;
        padding: 0;
        color: $header-font-color;
        border: 0;
    }

    &__icon {
        position: absolute;
        left: -15px;
        top: 0;
        transform: translate(-60%, -40%);
        font-weight: 900;
        font-size: 24px;
        color: $primary-color;
        text-shadow: 1px 1px 1px $sheet-background;
    }

    &__label {
        padding-left: $component-padding / 2;
        font-size: 8px;
        letter-spacing: 3px;
        color: $primary-color;
        text-transform: uppercase;
        white-space: nowrap;

        &:empty::before {
            content: "\a0";
        }
    }

    &__setting-label {
        font-size: 10px;
        padding-left: $component-padding / 2;
    }
}

input[type="number"].fatex-text-input--headline {
    position: relative;
    right: -25px;
    width: initial;
    margin: 0;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.fatex__input--icon {
    padding-left: $component-padding;
}

[contentEditable="true"]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-style: italic;
    opacity: 0.3;
    pointer-events: none;
}
