input[type="text"].fatex-text-input,
.fatex-text-input {
    display: flex;
    flex-direction: column-reverse;
    min-height: 24px;
    padding: 3px 0 3px $component-padding / 2;
    background: transparent;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid $primary-color;

    &::placeholder {
        color: $primary-color;
        opacity: 0.3;
    }

    &:focus ~ .fatex__item__actions {
        opacity: 0;
        pointer-events: none;
    }

    &--fp {
        width: 40px;
        text-align: center;
    }

    &--fp,
    &--header {
        height: 25px;
        padding: 0;
        color: $header-font-color;
        border: 0;
    }
}
