.fatex-item-grid {
    display: grid;
    gap: $component-padding * 1.5 $component-padding * 2;
    padding: $component-padding 0 0 0;

    &--skills {
        width: 30%;
        min-width: 220px;
    }

    &--stunts {
        width: 100%;
    }

    &--two-column {
        grid-template-columns: 1fr 1fr;
        width: 50%;
        min-width: 360px;
    }
}
