.fatex-message {
    margin: $component-padding;
    padding: $component-padding / 2;
    border: 1px solid var(--primary-color, $primary-color);
    background: $message-background;
    border-radius: 5px;
}
