::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 1px #999 inset;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: $primary-color !important;
    border: 0;
}

:root {
    scrollbar-width: thin !important;
    scrollbar-color: $primary-color $sheet-background !important;
}

input[type="range"]::-webkit-slider-thumb {
    background: $primary-color;
    width: 18px;
    cursor: pointer;
    height: 25px;
    margin-top: -10px;
}

input[type="range"]::-moz-range-thumb {
    background: $primary-color;
    height: 25px;
    width: 18px;
    cursor: pointer;
}
