.fatex-setting {
    padding: $component-padding;
    transition: opacity 0.3s;

    &--min-height {
        min-height: 70px;
    }

    &__editor-wrapper {
        height: 250px;
        overflow: hidden;
        border-bottom: 1px solid var(--fatex-primary-color, $primary-color);
        border-radius: 3px;

        > .editor {
            height: 250px;
        }
    }

    &__text div {
        min-height: 200px;
    }
}
