.fatex-setting {
    padding: $component-padding;
    transition: opacity 0.3s;

    &--min-height {
        min-height: 70px;
    }

    &__checkbox {
        label {
            display: flex;
            gap: calc($component-padding / 2);

            div {
                display: flex;
                flex-direction: column;
            }
        }

        &__name {
            font-weight: bold;
            padding: 5px 0;
        }

        &__help {
            font-size: 12px;
        }
    }

    &__editor-wrapper {
        height: 250px;
        overflow: hidden;
        border-bottom: 1px solid $fatex-primary-color;
        border-radius: 3px;

        > .editor {
            height: 250px;
        }
    }

    &__text div {
        min-height: 200px;
    }
}
