// TODO: Review these styles once the config.hbs file has been populated

.fatex-sheet-config {
    padding: $component-padding;
    display: none;

    box-shadow: 0 -2px 15px 0 #2f3542;
    background: #2f3542;
    z-index: 5;
    color: var(--light-text-color, $light-text-color);

    .fatex-js-edit-mode & {
        display: block;
    }

    h2 {
        font-size: 16px;
        text-transform: uppercase;
        border: 0;
        font-weight: bold;
    }
}
