.fatex__sheet_config {
    padding: $component-padding;
    display: none;

    box-shadow: 0 -2px 15px 0 #2f3542;
    background: #2f3542;
    z-index: 5;
    color: $header-font-color;

    .fatex-eb-edit-mode & {
        display: block;
    }

    h2 {
        font-size: 16px;
        text-transform: uppercase;
        border: 0;
        font-weight: bold;
    }
}

.fatex__sheet__action {
    display: block;
    cursor: pointer;
}
