<form autocomplete="off" class="{{cssClass}}">
    <div class="desk">

        {{!--HEADER--}}
        <div class="desk__header">
            <div class="fatex__header">
                <div class="fatex__header__name">
                    <label class="fatex__header__label fatex__item__header__label" for="name">{{localize label}}</label>
                    <input class="fatex__header__name__input fatex__item__name__input" name="name" type="text" value="{{item.name}}">
                </div>

                <div class="fatex__header__logo">
                    <img class="fatex__header__logo__image" src="systems/fatex/assets/logos/powered_by_fate.svg">
                </div>
            </div>
        </div>

        <div class="desk__content">
            <div class="desk__content__inner">
