.fatex__app_sheet {
    font-family: $primary-font;
    min-width: 500px;

    form {
        max-height: 100%;
    }

    .window-content {
        padding: 0;
        background: $sheet-background;
    }

    a:hover {
        text-shadow: none;
    }

    img {
        border: 0;
    }

    input[type="text"] {
        background: transparent;
        border: 0;
        width: auto;
        height: auto;
        padding: 0;
    }

    textarea {
        background: transparent;
        border: 0;
        width: auto;
        height: auto;
        padding: 0;
    }
}
