.fatex__input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.fatex__input--icon {
    padding-left: $component-padding;
}

.fatex__input__label {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 3px;
    color: $primary-color;
    padding-left: $component-padding / 2;
    padding-top: 3px;
    white-space: nowrap;
}

.fatex__input input[type="text"].fatex__input__input,
.fatex__input__input{
    padding-left: calc(#{$component-padding} / 2);
    height: auto;
    border: 0;
    border-bottom: 1px solid $primary-color;
    border-radius: 3px;

    &::placeholder {
        color: $primary-color;
        opacity: 0.3;
    }
}

.fatex__input__textarea {
    height: auto;
    border-bottom: 1px solid $primary-color;
    border-radius: 3px;
}

.fatex__input__icon {
    position: absolute;
    top: 0;
    right: 100%;
    transform: translate(2px, -7px);
    font-weight: 900;
    font-size: 24px;
    color: #2f3542;
    text-shadow: 1px 1px 1px $sheet-background;
}
