.fatex__actorDirectory__entry {
    align-items: center;

    i {
        flex: 0 0 24px;
    }
}

li.folder > .folder-header .create-folder-group {
    flex: 0 0 20px;
    text-align: center;
    color: #ccc;
    font-size: 14px;
    padding-left: 5px;
}

.actor_group_panel__group__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 8px 0 2px;
    flex: 0 0 48px;
}

.sidebar-tab .directory-list .directory-item .actor_group_panel__group__image {
    margin: 0;
    height: 24px;
    width: 24px;
    flex: 0;
}
