.fatex__input--icon {
    padding-left: $component-padding;
}

.fatex__input__icon {
    position: absolute;
    top: 0;
    right: 100%;
    transform: translate(2px, -7px);
    font-weight: 900;
    font-size: 24px;
    color: #2f3542;
    text-shadow: 1px 1px 1px $sheet-background;
}

[contentEditable="true"]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-style: italic;
    opacity: 0.3;
    pointer-events: none;
}
