@mixin cutout-top-left($size: 16px) {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    border-top: $size solid $fatex-sheet-background-color;
    border-right: $size solid transparent;
}

@mixin cutout-top-right($size: 16px) {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: $size solid $fatex-sheet-background-color;
    border-left: $size solid transparent;
}

@mixin cutout-bottom-right($size: 16px) {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-bottom: $size solid $fatex-sheet-background-color;
    border-left: $size solid transparent;
}

@mixin reset-cutouts {
    border: none;
    bottom: initial;
    right: initial;
}
