@mixin cutout-top-left {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    border-top: 16px solid #f1f2f6;
    border-right: 16px solid transparent;
}

@mixin cutout-top-right {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    border-top: 16px solid #f1f2f6;
    border-left: 16px solid transparent;
}

@mixin cutout-bottom-right {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-bottom: 16px solid #f1f2f6;
    border-left: 16px solid transparent;
}

@mixin reset-cutouts {
    border: none;
    bottom: initial;
    right: initial;
}
