// Spacing
$component-padding: 10px;

// Colors
$primary-color: #2f3542;

$sheet-background: #f1f2f6;
$message-background: transparentize($primary-color, 0.7);

$primary-text-color: #191813;
$light-text-color: #fff;

$caution-color: #f21628;
$shadow-color: #a0a0a0;

// Fonts
$primary-font: "Montserrat", sans-serif;

// Custom Property Hooks
$fatex-header-color: var(--fatex-header-color, $primary-color);
$fatex-header-text-color: var(--fatex-header-text-color, $light-text-color);

$fatex-primary-color: var(--fatex-primary-color, $primary-color);
$fatex-sheet-background-color: var(--fatex-sheet-background-color, $sheet-background);

$fatex-text-color-1: var(--fatex-text-color-1, $primary-text-color);
$fatex-text-color-2: var(--fatex-text-color-2, $light-text-color);

$fatex-shadow-color: var(--fatex-shadow-color, $primary-color);
$fatex-scrollbar-color: var(--fatex-scrollbar-color, $primary-color);
