$sheet-background: #F5F5F5;

$component-padding: 10px;
$component-border-size: 0px;
$component-border-color: rgb(31, 31, 31);
$component-border-style: solid;

$header-background: rgba(60, 60, 60, 1);
