// Components
$component-padding: 10px;
$component-border-size: 0px;
$component-border-color: rgb(31, 31, 31);
$component-border-style: solid;

// Colors
$sheet-background: #f1f2f6;
$header-background: #2f3542;
$header-font-color: #ffffff;

$headline-background: #2f3542;
$headline-color: #ffffff;

// Fonts
$primary-font: 'Montserrat', sans-serif;
