// Components
$component-padding: 10px;
$component-border-size: 0px;
$component-border-color: rgb(31, 31, 31);
$component-border-style: solid;

// Colors
$sheet-background: rgb(241, 242, 246);
$header-background: rgb(47, 53, 66);
$header-font-color: rgb(255, 255, 255);

$primary-color: rgba(47, 53, 66, 1);
$primary-color-transparent: rgba(47, 53, 66, 0.3);
$headline-background: $primary-color;
$headline-color: rgb(255, 255, 255);

$caution-color: rgb(255, 71, 87);
$shadow-color: rgb(160, 160, 160);

// Fonts
$primary-font: 'Montserrat', sans-serif;
