.fatex-headline {
    position: relative;
    color: $headline-color;
    background: $headline-background;
    box-shadow: 1px 1px 1px $shadow-color;

    &::before,
    &::after {
        content: "";
        position: absolute;
    }

    &::before {
        top: 0;
        left: 0;
        border-top: 15px solid #f1f2f6;
        border-right: 15px solid transparent;
    }

    &::after {
        bottom: -2px;
        right: -6px;
        width: 18px;
        height: 9px;
        transform: rotate(315deg);
        background: #f1f2f6;
        border-top: 1px solid #a0a0a0;
    }

    &--center {
        text-align: center;
    }

    &--chat {
        width: 70%;
        margin: $component-padding auto;
    }

    &--stunt {
        padding-right: $component-padding * 4;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 100;
        transform: translate(-25px, 0px);
        font-weight: 900;
        color: $sheet-background;
        -webkit-text-stroke: 2px $primary-color;
        text-shadow: initial;

        &--skill {
            left: initial;
            right: 100%;
            font-size: 24px;
            text-shadow: 1px 1px 1px $sheet-background;
            transform: translate(15px, -7px);
        }

        &--negative {
            color: $caution-color;
        }
    }

    &__text {
        position: relative;
        padding: $component-padding / 2 $component-padding * 2;
        border: none;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.fatex-section-heading {
    position: relative;
    display: block;
}

.fatex__headline__actions.fatex__item__actions,
.fatex__headline__actions {
    @include edit-settings($headline-background);
    pointer-events: none;
    right: 10px;
}
