.fatex-headline {
    position: relative;
    padding: $component-padding / 2 $component-padding * 2;
    background: $headline-background;
    color: $headline-color;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 1px 1px 1px $shadow-color;

    @include cutoff(15px);

    &--center {
        text-align: center;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 100%;
        transform: translate(-25px, 0px);
        font-weight: 900;
        color: $sheet-background;
        -webkit-text-stroke: 2px $primary-color;
        text-shadow: initial;

        &--negative {
            color: $caution-color;
        }
    }
}

.fatex__headline__actions.fatex__item__actions,
.fatex__headline__actions {
    @include edit-settings($headline-background);
    pointer-events: none;
    right: 10px;
}
