<div class="fatex__stress">
    <div class="fatex__stress__track">
        <h2 class="fatex__stress__track__headline">
            Physical stress
            <i class="fatex__stress__track__headline__settings fas fa-cog"></i>
        </h2>

        <div class="fatex__stress__track__items">
            <div class="fatex__stress__track__item">
                <span class="fatex__stress__track__item__label">1</span>
                <label class="fatex__stress__track__item__box">
                    <input class="fatex__stress__track__item__checkbox" type="checkbox" name="">
                    <i class="fatex__stress__track__item__icon fas fa-check"></i>
                </label>
            </div>

            <div class="fatex__stress__track__item">
                <span class="fatex__stress__track__item__label">1</span>
                <label class="fatex__stress__track__item__box">
                    <input class="fatex__stress__track__item__checkbox" type="checkbox" name="">
                    <i class="fatex__stress__track__item__icon fas fa-check"></i>
                </label>
            </div>

            <div class="fatex__stress__track__item">
                <span class="fatex__stress__track__item__label">1</span>
                <label class="fatex__stress__track__item__box">
                    <input class="fatex__stress__track__item__checkbox" type="checkbox" name="">
                    <i class="fatex__stress__track__item__icon fas fa-check"></i>
                </label>
            </div>

            <div class="fatex__stress__track__item">
                <span class="fatex__stress__track__item__label">1</span>
                <label class="fatex__stress__track__item__box">
                    <input class="fatex__stress__track__item__checkbox" type="checkbox" name="">
                    <i class="fatex__stress__track__item__icon fas fa-check"></i>
                </label>
            </div>
        </div>
    </div>

    <div class="fatex__stress__track">
        <h2 class="fatex__stress__track__headline">
            Stress track with lots of text
            <i class="fatex__stress__track__headline__settings fas fa-cog"></i>
        </h2>
    </div>

    <div class="fatex__stress__track">
        <h2 class="fatex__stress__track__headline">
            Indepted
            <i class="fatex__stress__track__headline__settings fas fa-cog"></i>
        </h2>

        <div class="fatex__stress__track__boxes">

        </div>
    </div>
</div>
