.fatex__skill__reference {
    display: flex;
    justify-content: space-between;
}

.fatex__skill__reference__actions {
    margin-right: $component-padding * 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fatex__skill__reference__description {
    font-size: 12px;
    padding: 0 $component-padding;
}

.fatex__skill__reference + .fatex__skill__reference {
    margin-top: $component-padding;
}

.fatex__skill__references__settings {
    margin-bottom: $component-padding;
}
