.fatex__tabs {
    padding: $component-padding;
}

.fatex__tabs__tab {
    padding: $component-padding;
    padding-bottom: 0;
}

.fatex_tabs__navigation {
    border-bottom: 2px solid $primary-color;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.fatex_tabs__navigation__item {
    color: $primary-color;

    padding: 5px 20px 5px 15px ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;

    // Remove whitespace between tab-handler and bar
    margin-bottom: -1px;

    &.active, &:hover {
        background: $headline-background;
        color: $headline-color;
        @include cutoff(15px, 1);
    }
}
