.fatex__templates {
    padding: $component-padding;
    display: flex;
    align-items: center;
    min-width: 100%;
}

.fatex__template__break {
    width: 100%;
}

.fatex__template {
    min-width: 200px;
}

.fatex__template + .fatex__template {
    margin-left: $component-padding;
}

.fatex__template__create {
    cursor: pointer;
}

.fatex__template__header__settings {
    cursor: pointer;
}

.fatex__template__information {
    padding: $component-padding;
    display: grid;
    grid-template-columns: min-content auto;
    grid-auto-rows: auto;
    column-gap: 20px;
    margin-bottom: $component-padding;
}

.fatex__template__create {
    white-space: nowrap;
}

.fatex__template__information__name {
    font-weight: bold;
    white-space: nowrap;

    &::after {
        content: ":";
    }
}

.fatex__template__information__value {
    text-align: right;
}

.fatex__template__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $component-padding / 2;
}

.fatex__template__image {
    height: 125px;
    background-position: center center;
    background-size: cover;
    margin: $component-padding;
    border-radius: 5px;
}

.fatex__template__or {
    text-transform: uppercase;
    padding: $component-padding * 2;
    font-size: 30px;
    font-weight: bold;
}

.fatex__template__help {
    font-size: 12px;
    text-align: center;

    #template-actors & {
        min-width: 100%;
    }

    p {
        margin: $component-padding * 2;
    }

    .fatex__template__header__settings {
        padding-top: $component-padding * 3;

        span,
        i {
            color: $primary-color;
        }
    }
}
