.fatex__dialog {
    font-family: $primary-font;

    button {
        font-family: $primary-font;
    }

    .window-content {
        padding: $component-padding;
        background: $sheet-background;
    }

    .dialog-buttons {
        display: flex;
        margin-top: $component-padding;

        button {
            background: rgba(0, 0, 0, 0.1);
            border: 2px groove #f0f0e0;
        }
    }
}
