.fatex__templates {
    padding: $component-padding;
}

.fatex__template__actions {
    opacity: 1;
    pointer-events: all;
}

.fatex__template__create {
    cursor: pointer;
}

.fatex__template__header__settings {
    cursor: pointer;
}
