.fatex__item__header__title {
    color: $header-font-color;
    height: 25px;
    font-size: 23px;
}

.fatex__item__actions {
    @include edit-settings($sheet-background);
    pointer-events: none;

    .fatex__helper--enable-editmode & {
        opacity: 1;
        pointer-events: all;
    }
}

.fatex__item__collapsible {
    display: flex;
    align-items: center;

    position: absolute;
    height: 100%;
    top: 0;
    right: 20px;
    text-shadow: 1px 1px 2px $shadow-color;
}

.fatex__item__add {
    @include fa-icon($fa-var-plus);
    cursor: pointer;
}

.fatex__item__settings {
    @include fa-icon($fa-var-cog);
    cursor: pointer;
}

.fatex__item__duplicate {
    @include fa-icon($fa-var-copy);
    cursor: pointer;
}

.fatex__item__choose {
    @include fa-icon($fa-var-file-medical);
    cursor: pointer;
}

.fatex__item__sort {
    @include fa-icon($fa-var-sort);
    cursor: move;
}

.fatex__item__sortall {
    @include fa-icon($fa-var-sort-amount-down);
    cursor: pointer;
}

.fatex__item__collapse {
    @include fa-icon($fa-var-chevron-down);
    cursor: pointer;
}

.fatex__item__collapse--closed {
    @include fa-icon($fa-var-chevron-up);
    cursor: pointer;
}

.fatex__item__delete {
    @include fa-icon($fa-var-trash);
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
        color: $caution-color;
    }
}
