.fatex-sheet-setup {
    padding: $component-padding;
    min-width: 100%;

    &__button {
        display: inline-block;
        padding: $component-padding;
        background: $primary-color;
        color: $headline-color;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        box-shadow: 2px 2px 4px 0 $primary-color;
        cursor: pointer;

        @include fa-icon($fa-var-plus);
    }

    &__main {
        margin-top: $component-padding * 4;
    }

    &__section {
        margin-bottom: $component-padding * 2;
    }
}

.fatex-setup-actions {
    display: grid;
    grid-template: 1fr 1fr / repeat(3, 1fr);
    grid-template-areas: "x x r" "x x r";
    gap: $component-padding / 2;

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $component-padding / 2;
        font-size: 12px;
        border: 1px solid $primary-color;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.fatex__sheet_setup__groups {
    display: flex;
    flex-wrap: wrap;
}

.fatex__sheet_setup__group {
    padding: $component-padding;
    width: 50%;
    min-width: 180px;

    &:only-child,
    &.fatex__sheet_setup__group--columns {
        width: 100%;
    }
}

.fatex__sheet_setup__group__label {
    position: relative;
    display: block;
    margin-bottom: $component-padding;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    @include fa-icon($fa-var-sync);
}

.fatex__sheet_setup__options--columns {
    column-count: 2;

    .fatex__sheet_setup__option {
        page-break-inside: avoid;
    }
}

.fatex__sheet_setup__option {
    display: flex;
}

.fatex__sheet_setup__option + .fatex__sheet_setup__option {
    margin-top: $component-padding;
}

.fatex__sheet_setup__option__box {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $primary-color;
    border-radius: 3px;
    margin-right: $component-padding;
    color: $headline-color;
    font-size: 11px;
    text-align: center;
}

.fatex__sheet_setup__option__checkbox {
    position: absolute;
    opacity: 0;
    left: -10000px;
    top: -10000px;

    &:checked + .fatex__sheet_setup__option__box {
        @include fa-icon($fa-var-check);

        background: $headline-background;
    }
}

.fatex__sheet_setup__type__actions {
    padding: $component-padding $component-padding 0;
    text-align: center;
}

.setup_action--setup-type {
    @include fa-icon($fa-var-plus);
}
