.fatex__stress__track__items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.fatex__stress__track__items__break {
    flex-wrap: wrap;
}

.fatex__stress__track__item__box {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid $primary-color;
    margin: 0 8px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fatex__stress__track__item {
    position: relative;
}

.fatex__stress__track__break {
    width: 100%;
}

.fatex__stress__track__item__label {
    position: absolute;
    left: 0;
    top: 0;

    transform: translate(-60%, -40%);
    font-weight: 900;
    font-size: 24px;
    color: $primary-color;

    text-shadow: 1px 1px 1px $sheet-background;
}

.fatex__stress__track__item__icon {
    width: 100%;
    text-align: center;
    font-size: 25px;
    opacity: 0;
}

.fatex__stress__track__filler {
    opacity: 0;
    pointer-events: none;
}

.fatex__stress__track__description {
    font-size: 13px;
    display: inline-block;
    padding: 0 10px;
    width: 100%;
}
