<div class="fatex__header">
    <div class="fatex__header__name">
        <label class="fatex__header__label" for="name">{{localize "FAx.Sheet.Name"}}</label>
        <input class="fatex__header__name__input fatex__input" name="name" type="text" value="{{actor.name}}">
    </div>

    <div class="fatex__header__fate-points">
        <label class="fatex__header__label fatex__header__label--center" for="name">{{localize "FAx.Sheet.FatePoints"}}</label>

        <div class="fatex__header__fate-points__wrapper">
            <input class="fatex__header__fp__input" name="data.fatepoints.current" type="text" value="{{data.fatepoints.current}}">
            <span class="fatex__header__fatepoint_divider"> / </span>
            <input class="fatex__header__refresh__input" name="data.fatepoints.refresh" type="text" value="{{data.fatepoints.refresh}}">
        </div>
    </div>

    <div class="fatex__header__logo">
        <img class="fatex__header__logo__image" src="/systems/fatex/assets/logos/powered_by_fate.svg">
    </div>
</div>
