.fatex__headline {
    background: $headline-background;
    color: $headline-color;
    padding: 5px 30px 5px 20px;
    @include cutoff(15px);
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 1px 1px 1px $shadow-color;
}

.fatex__headline--center {
    text-align: center;
}

.fatex__headline__actions {
    @include edit-settings($headline-background);
    pointer-events: none;
    right: 10px;
}
