.fatex__headline {
    background: $headline-background;
    color: $headline-color;
    padding: 5px 30px 5px 20px;
    @include cutoff(15px);
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;

    box-shadow: 1px 1px 1px $shadow-color;

    &:hover {
        .fatex__headline__actions {
            opacity: 1;
        }
    }
}

.fatex__headline--center {
    text-align: center;
}

.fatex__headline__actions {
    display: flex;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, transparentize($headline-background, 1) 0%, $headline-background 33%, $headline-background 100%);

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    padding-left: 50px;

    > * {
        margin-right: $component-padding;
        cursor: pointer;
    }
}

.fatex__headline__settings {
    @include fa-icon($fa-var-cog);
}

.fatex__headline__delete {
    @include fa-icon($fa-var-trash);
    transition: color 0.3s;

    &:hover {
        color: $caution-color;
    }
}

.fatex__headline__add {
    @include fa-icon($fa-var-plus);
}
