.fatex__consequences {
    padding: $component-padding;
}

.fatex__consequences {
    input[type="text"].fatex__consequence__input {
        padding-left: 5px;
    }
}

.fatex__consequence {
    margin-top: 10px;
}
