.fatex__consequences {
    padding: $component-padding;
}

.fatex__consequences {
    input[type="text"].fatex__consequence__input {
        border-bottom: 1px solid $primary-color;
    }
}

.fatex__consequence {
    margin-top: 10px;
}
