.fatex__consequences {
    padding: $component-padding;
}

.fatex__consequence {
    & + .fatex__consequence {
        padding-top: $component-padding;
    }
}

.fatex__consequence__actions_wrapper {
    position: relative;
}

.fatex__consequence__actions {
    font-size: 18px;
}

.fatex__consequence__input {
    border-radius: 3px;
    border-bottom: 1px solid $primary-color;
    padding: 3px 0;
}
