.fatex-header {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;

    input[type="text"].fatex-header__name-input,
    input[type="text"].fatex-header__fp-input,
    input[type="text"].fatex-header__refresh-input {
        color: $header-font-color;
        height: 25px;
        font-size: 23px;
        border: 0;
    }

    input[type="text"].fatex-header__fp-input,
    input[type="text"].fatex-header__refresh-input {
        width: 40px;
        text-align: center;
    }

    &__center,
    &__name {
        padding: $component-padding;
        display: flex;
        flex-direction: column-reverse;
    }

    &__name {
        width: 50%;
    }

    &__center {
        align-items: center;
    }

    &__fate-points {
        display: flex;
        padding: 10px;
        flex-direction: column-reverse;
    }

    &__label {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 3px;
        color: $header-font-color;
        padding-left: 2px;
        padding-top: 3px;
        white-space: nowrap;

        &--center {
            padding-left: 0;
            text-align: center;
        }
    }

    &__fate-points-wrapper {
        display: flex;
        justify-content: center;
    }

    &__fatepoint-divider {
        font-size: 25px;
        line-height: 25px;
        color: $header-font-color;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: calc(#{$component-padding} - 2px);
        text-align: right;
    }

    &__logo-image {
        display: inline;
        height: 40px;
    }
}
