.fatex-tabs-navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-size: 13px;
    font-weight: bold;
    color: var(--primary-color, $primary-color);
    text-transform: uppercase;
    border-bottom: 2px solid var(--primary-color, $primary-color);

    &__item {
        position: relative;
        padding: 5px 20px 5px 15px;

        &.active,
        &:hover {
            background: var(--primary-color, $primary-color);
            color: var(--light-text-color, $light-text-color);
        }

        &::after {
            @include cutout-top-right;
        }
    }
}

.fatex-vertical-tabs-navigation {
    display: flex;
    flex-direction: column;
    padding: $component-padding * 2 0;

    &__item {
        color: var(--primary-color, $primary-color);
        padding: $component-padding;
        text-transform: uppercase;
        margin-bottom: $component-padding * 2;
        font-size: 13px;
        opacity: 0.3;
        width: 175px;
        border: 1px solid transparent;
        transition: opacity 0.3s, background-color 0s;

        &.active,
        &:hover {
            font-weight: bold;
            background: $sheet-background;
            border: 1px solid var(--primary-color, $primary-color);
            border-right: 0;
            opacity: 1;
            z-index: 1;
            box-shadow: 0 3px 0 0 var(--primary-color, $primary-color);
        }
    }
}
