.fatex-tab-content {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    padding: $component-padding;

    &--bio {
        .editor {
            height: 100%;
        }
    }

    &--skills {
        gap: 20px;
        flex-direction: row;
    }

    &[data-tab].active {
        display: flex;
    }
}

.fatex-vertical-tabs-content {
    border-left: 1px solid rgba(0, 0, 0, 1);
    margin-left: -1px;
}
