.fatex-vertical-tabs {
    display: flex;
}

.fatex__vertical_tabs__content {
    flex: 3;
    border-left: 1px solid rgba(0, 0, 0, 1);
    margin-left: -1px;
}

.fatex__vertical_tabs__navigation {
    flex: 1;
    padding: $component-padding * 2 0;
    display: flex;
    flex-direction: column;
}

.fatex__vertical_tabs__navigation__item {
    color: $primary-color;
    padding: $component-padding;
    text-transform: uppercase;
    margin-bottom: $component-padding * 2;
    font-size: 13px;
    opacity: 0.3;
    width: 175px;
    border: 1px solid transparent;
    transition: opacity 0.3s, background-color 0s;

    &.active,
    &:hover {
        font-weight: bold;
        background: $sheet-background;
        border: 1px solid $primary-color;
        border-right: 0;
        opacity: 1;
        z-index: 1;
        box-shadow: 0 3px 0 0 $primary-color;
    }
}

.fatex__vertical_tabs__tab {
    padding: $component-padding;
}
