<div class="fatex__setting">
    <header class="fatex-headline">
        <h3 class="fatex-headline__text">{{localize headline}}</h3>
    </header>

    <label class="fatex__setting__editor" for="{{ fieldName }}">
        <div class="fatex__setting__editor__editor">
            {{editor content=field target=fieldName button=true owner=owner editable=editable}}
        </div>
        {{#if help}}<span class="fatex-text-input__setting-label">{{localize help}}</span>{{/if}}
    </label>
</div>
