.fatex__sheet_setup {
    padding: $component-padding;
    min-width: 100%;

    h2 {
        border: 0;
        margin-bottom: $component-padding;
    }
}

.fatex__sheet_setup__setup {
    margin-top: $component-padding * 4;
}

.fatex__sheet_setup__actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $component-padding/2 $component-padding/2;
    grid-template-areas: "topl topm right" "bottoml bottomm right";

    .setup_action--clear-aspects {
        grid-area: topl;
    }

    .setup_action--clear-consequences {
        grid-area: topm;
    }

    .setup_action--clear-skills {
        grid-area: bottoml;
    }

    .setup_action--clear-stress {
        grid-area: bottomm;
    }

    .setup_action--clear {
        grid-area: right;
    }
}

.fatex__sheet_setup__action {
    cursor: pointer;

    border: 1px solid $primary-color;
    border-radius: 3px;
    padding: $component-padding / 2;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    &.fatex__sheet_setup__action--disabled {
        pointer-events: none;
        opacity: 0.3;
    }
}

.setup_action--clear {
    span {
        @include fa-icon($fa-var-skull-crossbones);

        &:before {
            display: block;
            text-align: center;
        }
    }
}

.fatex__sheet_setup__type {
    margin-bottom: $component-padding * 2;

    .fatex__headline__actions {
        font-size: 10px;
        opacity: 1;
        pointer-events: all;
    }
}

.fatex__sheet_setup__groups {
    display: flex;
    flex-wrap: wrap;
}

.fatex__sheet_setup__group {
    padding: $component-padding;
    width: 50%;
    min-width: 180px;

    &:only-child,
    &.fatex__sheet_setup__group--columns {
        width: 100%;
    }
}

.fatex__sheet_setup__group__label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: $component-padding;
    display: block;
    font-size: 10px;

    position: relative;
    cursor: pointer;
}

.fatex__sheet_setup__options--columns {
    column-count: 2;

    .fatex__sheet_setup__option {
        page-break-inside: avoid;
    }
}

.fatex__sheet_setup__option {
    display: flex;
}

.fatex__sheet_setup__option + .fatex__sheet_setup__option {
    margin-top: $component-padding;
}

.fatex__sheet_setup__option__box {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid $primary-color;
    border-radius: 3px;
    margin-right: $component-padding;
    color: $headline-color;
    font-size: 11px;
    text-align: center;
}

.fatex__sheet_setup__option__checkbox {
    position: absolute;
    opacity: 0;
    left: -10000px;
    top: -10000px;

    &:checked + .fatex__sheet_setup__option__box {
        @include fa-icon($fa-var-check);

        background: $headline-background;
    }
}

.fatex__sheet_setup__type__actions {
    padding: $component-padding $component-padding 0;
    text-align: center;
}

.fatex__sheet_setup__type__action {
    padding: $component-padding;
    background: $primary-color;
    color: $headline-color;
    box-shadow: 2px 2px 4px 0 $primary-color;
    display: inline-block;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.setup_action--setup-type {
    @include fa-icon($fa-var-plus);
}

.setup_action--toggle-type {
    @include fa-icon($fa-var-sync);
    cursor: pointer;
}
