@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Regular.otf"); }
@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Italic.otf");
  font-style: italic; }
@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Light.otf");
  font-weight: 300; }
@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-LightItalic.otf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Bold.otf");
  font-weight: bold; }
@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-BoldItalic.otf");
  font-style: italic;
  font-weight: bold; }
@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-Black.otf");
  font-weight: 900; }
@font-face {
  font-family: 'Montserrat';
  src: url("assets/fonts/Montserrat-BlackItalic.otf");
  font-style: italic;
  font-weight: 900; }
@font-face {
  font-family: 'Fate Icons';
  src: url("assets/fonts/fate_icons.ttf"); }
.app {
  color: #fff; }

.window-app .window-content,
#chat-log .message,
#chat-form textarea,
#chat-controls div.roll-type-select select,
.sidebar-tab .directory-header .header-search input,
.sidebar-tab button {
  background: #f1f2f6; }

#chat-log {
  font-family: "Montserrat", sans-serif, sans-serif; }

.desk {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(100px, 100%) min-content;
  grid-template-areas: "header" "content" "footer";
  height: 100%;
  max-height: 100%; }

.desk__header {
  grid-area: header;
  box-shadow: 0 2px 15px 0 #2f3542;
  background: #2f3542;
  z-index: 5; }

.desk__content {
  grid-area: content;
  overflow-y: auto;
  scrollbar-width: thin; }
  .desk__content .desk__content__inner {
    display: flex;
    height: auto;
    min-height: 100%; }
  .desk__content .desk__tabloid {
    flex: 4;
    min-width: 500px;
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    gap: 1px 1px;
    grid-template-areas: "messages messages" "aspects consequences" "tabs tabs" "copyright copyright"; }
    .desk__content .desk__tabloid .desk__aspects {
      grid-area: aspects; }
    .desk__content .desk__tabloid .desk__consequences {
      grid-area: consequences; }
    .desk__content .desk__tabloid .desk__tabs {
      grid-area: tabs; }
    .desk__content .desk__tabloid .desk__copyright {
      grid-area: copyright; }
    .desk__content .desk__tabloid .desk__messages {
      grid-area: messages; }
  .desk__content .desk__sidebar {
    flex: 1;
    min-width: 240px;
    box-shadow: 10px 0 15px 0 #2f3542; }

.desk__footer {
  grid-area: footer; }

.fatex__item__header__title {
  color: white;
  height: 25px;
  font-size: 23px; }

.fatex__item__actions {
  display: flex;
  align-items: center;
  background: #f1f2f6;
  background: linear-gradient(90deg, rgba(241, 242, 246, 0) 0%, #f1f2f6 33%, #f1f2f6 100%);
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
  padding-left: 50px;
  text-shadow: 1px 1px 2px #a0a0a0;
  pointer-events: none; }
  .fatex__item__actions > * {
    margin-right: 10px; }
  .fatex__helper--enable-editmode .fatex__item__actions {
    opacity: 1;
    pointer-events: all; }

.fatex__item__add {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }
  .fatex__item__add:before {
    content: "\f067"; }

.fatex__item__settings {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }
  .fatex__item__settings:before {
    content: "\f013"; }

.fatex__item__sort {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  cursor: move; }
  .fatex__item__sort:before {
    content: "\f0dc"; }

.fatex__item__delete {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  transition: color 0.3s;
  cursor: pointer; }
  .fatex__item__delete:before {
    content: "\f1f8"; }
  .fatex__item__delete:hover {
    color: #ff4757; }

.fatex__artwork {
  position: relative;
  padding: 10px; }

.fatex__artwork--image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 25px, 25px 0%, 100% 0%, 100% 0%, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0 100%, 0 100%); }

.fatex__artwork--handler {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0; }

.fatex__stress {
  padding: 10px; }

.fatex__stress__track + .fatex__stress__track {
  margin-top: 10px; }

.fatex__stress__track__item__checkbox {
  position: absolute;
  opacity: 0;
  left: -5000px; }
  .fatex__stress__track__item__checkbox:checked + .fatex__stress__track__item__icon {
    opacity: 1; }

.fatex__stress__track__items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px; }

.fatex__stress__track__items__break {
  flex-wrap: wrap; }

.fatex__stress__track__item__box {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #2f3542;
  margin: 0 8px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.fatex__stress__track__item {
  position: relative; }

.fatex__stress__track__break {
  width: 100%; }

.fatex__stress__track__item__label {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-60%, -40%);
  font-weight: 900;
  font-size: 24px;
  color: #2f3542;
  text-shadow: 1px 1px 1px #f1f2f6; }

.fatex__stress__track__item__icon {
  width: 100%;
  text-align: center;
  font-size: 25px;
  opacity: 0;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
  .fatex__stress__track__item__icon:before {
    content: "\f00d"; }

.fatex__stress__track__filler {
  opacity: 0;
  pointer-events: none; }

.fatex__stress__add {
  cursor: pointer; }

.fatex__stress__track__description {
  font-size: 13px;
  display: inline-block;
  padding: 0 10px;
  width: 100%; }

.fatex__header {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between; }
  .fatex__header input[type="text"].fatex__header__name__input,
  .fatex__header input[type="text"].fatex__header__fp__input,
  .fatex__header input[type="text"].fatex__header__refresh__input {
    color: white;
    height: 25px;
    font-size: 23px;
    border: 0; }
  .fatex__header input[type="text"].fatex__header__fp__input,
  .fatex__header input[type="text"].fatex__header__refresh__input {
    width: 40px;
    text-align: center; }

.fatex__header__center,
.fatex__header__name {
  padding: 10px;
  display: flex;
  flex-direction: column-reverse; }

.fatex__header__name {
  width: 50%; }

.fatex__header__center {
  align-items: center; }

.fatex__header__fate-points {
  display: flex;
  padding: 10px;
  flex-direction: column-reverse; }

.fatex__header__label {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 3px;
  color: white;
  padding-left: 2px;
  padding-top: 3px;
  white-space: nowrap; }

.fatex__header__label--center {
  padding-left: 0; }

.fatex__header__fate-points__wrapper {
  display: flex;
  justify-content: center; }

.fatex__header__fatepoint_divider {
  font-size: 25px;
  line-height: 25px;
  color: white; }

.fatex__header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: calc(10px - 2px);
  text-align: right; }

.fatex__header__logo__image {
  display: inline;
  height: 40px; }

.fatex__headline {
  background: #2f3542;
  color: white;
  padding: 5px 20px 5px 20px;
  clip-path: polygon(0 15px, 15px 0%, 100% 0%, 100% 0%, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 100%);
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 1px 1px 1px #a0a0a0; }

.fatex__headline--icon {
  position: relative; }

.fatex__headline--center {
  text-align: center; }

.fatex__headline__actions {
  display: flex;
  align-items: center;
  background: #2f3542;
  background: linear-gradient(90deg, rgba(47, 53, 66, 0) 0%, #2f3542 33%, #2f3542 100%);
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
  padding-left: 50px;
  text-shadow: 1px 1px 2px #a0a0a0;
  pointer-events: none;
  right: 10px; }
  .fatex__headline__actions > * {
    margin-right: 10px; }

.fatex__aspects {
  padding: 10px; }

.fatex__aspect + .fatex__aspect {
  padding-top: 10px; }

.fatex__aspect__actions_wrapper {
  position: relative; }

.fatex__aspect__actions {
  font-size: 18px; }

.fatex__aspect__input {
  border-radius: 3px;
  border-bottom: 1px solid #2f3542;
  padding: 3px 0; }

.fatex__consequences {
  padding: 10px; }

.fatex__consequence + .fatex__consequence {
  padding-top: 10px; }

.fatex__consequence__actions_wrapper {
  position: relative; }

.fatex__consequence__actions {
  font-size: 18px; }

.fatex__consequence__input {
  border-radius: 3px;
  border-bottom: 1px solid #2f3542;
  padding: 3px 0; }

.fatex__tabs {
  padding: 10px; }

.fatex__tabs__tab {
  padding: 10px;
  padding-bottom: 0; }

.fatex__tabs__navigation {
  border-bottom: 2px solid #2f3542;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; }

.fatex_tabs__navigation__item {
  color: #2f3542;
  padding: 5px 20px 5px 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: -1px; }
  .fatex_tabs__navigation__item.active, .fatex_tabs__navigation__item:hover {
    background: #2f3542;
    color: white;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% calc(100% - 15px), 100% 100%, 0 100%); }

.fatex__tabs__tab--skills .fatex__tabs__tab__content {
  display: flex; }
  .fatex__tabs__tab--skills .fatex__tabs__tab__content .fatex__skills {
    width: 40%; }
  .fatex__tabs__tab--skills .fatex__tabs__tab__content .fatex__skills--columns {
    width: 60%; }
  .fatex__tabs__tab--skills .fatex__tabs__tab__content .fatex__stunts {
    flex-grow: 1;
    padding-left: 10px; }

.fatex__input {
  display: flex;
  flex-direction: column-reverse;
  position: relative; }

.fatex__input--icon {
  padding-left: 10px; }

.fatex__input__label {
  text-transform: uppercase;
  font-size: 8px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #2f3542;
  padding-left: 5px;
  padding-top: 3px;
  white-space: nowrap; }

.fatex__input input[type="text"].fatex__input__input,
.fatex__input__input {
  padding-left: calc(10px / 2);
  height: auto;
  border: 0;
  border-bottom: 1px solid #2f3542;
  border-radius: 3px; }
  .fatex__input input[type="text"].fatex__input__input::placeholder,
  .fatex__input__input::placeholder {
    color: #2f3542;
    opacity: 0.3; }

.fatex__input__textarea {
  height: auto;
  border-bottom: 1px solid #2f3542;
  border-radius: 3px; }

.fatex__input__icon {
  position: absolute;
  top: 0;
  right: 100%;
  transform: translate(2px, -7px);
  font-weight: 900;
  font-size: 24px;
  color: #2f3542;
  text-shadow: 1px 1px 1px #f1f2f6; }

.fatex__sheet {
  font-family: "Montserrat", sans-serif; }
  .fatex__sheet form {
    max-height: 100%; }
  .fatex__sheet .window-content {
    padding: 0;
    background: #f1f2f6; }
  .fatex__sheet a:hover {
    text-shadow: none; }
  .fatex__sheet img {
    border: 0; }
  .fatex__sheet input[type="text"] {
    background: transparent;
    padding: 0; }

.fatex__item_sheet {
  font-family: "Montserrat", sans-serif;
  min-width: 300px; }
  .fatex__item_sheet form {
    max-height: 100%; }
  .fatex__item_sheet .window-content {
    padding: 0;
    background: #f1f2f6; }
  .fatex__item_sheet a:hover {
    text-shadow: none; }
  .fatex__item_sheet img {
    border: 0; }
  .fatex__item_sheet input[type="text"] {
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    padding: 0; }
  .fatex__item_sheet textarea {
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    padding: 0; }

.fatex__sheet_config {
  padding: 10px;
  display: none;
  box-shadow: 0 -2px 15px 0 #2f3542;
  background: #2f3542;
  z-index: 5;
  color: white; }
  .fatex__helper--enable-editmode .fatex__sheet_config {
    display: block; }
  .fatex__sheet_config h2 {
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold; }

.fatex__sheet__action {
  display: block;
  cursor: pointer; }

.fatex__dialog {
  font-family: "Montserrat", sans-serif; }
  .fatex__dialog button {
    font-family: "Montserrat", sans-serif; }
  .fatex__dialog .window-content {
    padding: 10px;
    background: #f1f2f6; }
  .fatex__dialog .dialog-buttons {
    display: flex;
    margin-top: 10px; }
    .fatex__dialog .dialog-buttons button {
      background: rgba(0, 0, 0, 0.1);
      border: 2px groove #f0f0e0; }

.fatex__settings {
  flex: 1; }

.fatex__setting {
  padding: 10px;
  display: block;
  transition: opacity 0.3s; }

.fatex__setting--disabled {
  opacity: 0.3; }

.fatex__setting__pair {
  display: flex; }

.fatex__setting__radio__group {
  display: flex;
  justify-content: space-around; }

.fatex__setting__radio {
  text-align: center;
  cursor: pointer;
  border: 1px solid #2f3542;
  opacity: 0.3;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 5px; }

.fatex__setting__radio__group--ranks {
  padding: 0 10px; }
  .fatex__setting__radio__group--ranks .fatex__setting__radio {
    border: 0;
    color: #2f3542;
    font-weight: 900;
    font-size: 24px;
    text-shadow: 1px 1px 1px #f1f2f6; }
  .fatex__setting__radio__group--ranks .fatex__setting__radio + .fatex__setting__radio {
    margin-left: 5px; }
  .fatex__setting__radio__group--ranks .fatex__setting__radio--active {
    background: none; }

.fatex__setting__radio + .fatex__setting__radio {
  margin-left: 10px; }

.fatex__setting__radio--active {
  opacity: 1; }

.fatex__setting__radio__label {
  display: block;
  font-size: 12px; }

.fatex__setting__radio__image {
  height: 24px;
  margin: 8px; }

.fatex__setting__radio--active {
  background: rgba(0, 0, 0, 0.05); }

.fatex__setting__help {
  font-size: 10px; }

.fatex__setting__range {
  display: flex; }

input[type="text"].fatex__setting__range__value {
  font-weight: 900;
  font-size: 24px;
  color: #2f3542;
  text-shadow: 1px 1px 1px #f1f2f6;
  width: 50px;
  text-align: center; }

.fatex__settings_sheet {
  font-family: "Montserrat", sans-serif;
  min-width: 500px; }
  .fatex__settings_sheet form {
    max-height: 100%; }
  .fatex__settings_sheet .window-content {
    padding: 0;
    background: #f1f2f6; }
  .fatex__settings_sheet a:hover {
    text-shadow: none; }
  .fatex__settings_sheet img {
    border: 0; }
  .fatex__settings_sheet input[type="text"] {
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    padding: 0; }
  .fatex__settings_sheet textarea {
    background: transparent;
    border: 0;
    width: auto;
    height: auto;
    padding: 0; }

::-webkit-scrollbar {
  width: 6px; }

::-webkit-scrollbar-track {
  box-shadow: 0 0 1px #999 inset;
  border-radius: 4px; }

::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: #2f3542 !important;
  border: 0; }

:root {
  scrollbar-width: thin !important;
  scrollbar-color: #2f3542 #f1f2f6 !important; }

input[type=range]::-webkit-slider-thumb {
  background: #2f3542;
  width: 18px;
  cursor: pointer;
  height: 25px;
  margin-top: -10px; }

input[type=range]::-moz-range-thumb {
  background: #2f3542;
  height: 25px;
  width: 18px;
  cursor: pointer; }

.fatex__helper__editmode {
  transition: all 0.3s;
  opacity: 0; }
  .fatex__helper__editmode:hover, .fatex__helper--enable-editmode .fatex__helper__editmode {
    opacity: 1; }

.fatex__helper__editmode--vanish {
  display: none; }
  .fatex__helper--enable-editmode .fatex__helper__editmode--vanish {
    display: inherit; }

.fatex__copyright {
  padding: 10px;
  font-size: 10px;
  text-align: center;
  color: #2f3542; }
  .fatex__copyright p {
    margin: 0; }

.fatex__skills--columns .fatex__skills__columns {
  column-count: 2; }

.fatex__skills__headline {
  position: relative; }

.fatex__skill {
  width: 100%;
  padding: 10px 5px;
  cursor: pointer; }

.fatex__skill--filler {
  opacity: 0; }

.fatex__skill__icon {
  transform: translate(15px, -7px);
  color: #f1f2f6;
  -webkit-text-stroke: 2px #2f3542;
  text-shadow: initial; }

.fatex__skill__actions {
  display: flex;
  align-items: center;
  background: #2f3542;
  background: linear-gradient(90deg, rgba(47, 53, 66, 0) 0%, #2f3542 33%, #2f3542 100%);
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
  padding-left: 50px;
  text-shadow: 1px 1px 2px #a0a0a0;
  pointer-events: none; }
  .fatex__skill__actions > * {
    margin-right: 10px; }

.fatex__skill__actions_wrapper {
  position: relative;
  color: white; }

.fatex__skill__add {
  margin-bottom: 0;
  cursor: pointer; }

.fatex__chat__headline__wrapper {
  width: 70%;
  margin: auto;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px; }

.fatex__chat__headline__icon {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-25px, 0px);
  font-weight: 900;
  font-size: 24px;
  color: #f1f2f6;
  -webkit-text-stroke: 2px #2f3542;
  text-shadow: initial; }

.fatex__chat__dice {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.fatex__chat__die {
  font-family: "Fate Icons", sans-serif;
  font-size: 24px;
  color: #2f3542; }

.fatex__chat__total {
  text-align: center;
  font-weight: 700;
  font-size: 26px; }

.fatex__chat__ladder {
  color: #2f3542;
  font-weight: 300;
  font-size: 12px;
  display: block; }

.fatex__templates {
  padding: 10px; }

.fatex__template__actions {
  opacity: 1;
  pointer-events: all; }

.fatex__template__create {
  cursor: pointer; }

.fatex__template__header__settings {
  cursor: pointer; }

.fatex__message {
  margin: 10px;
  padding: 5px;
  border: 1px solid #2f3542;
  background: rgba(47, 53, 66, 0.3);
  border-radius: 5px; }
