.fatex__helper__edit {
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
}

.fatex__helper--enable-edit-mode {
    .fatex__helper__edit {
        opacity: 1;
        pointer-events: all;
    }
}
