.fatex__helper__editmode {
    transition: all 0.2s;
    opacity: 0;

    &:hover,
    .fatex__helper--enable-editmode & {
        opacity: 1;
    }
}

.fatex__helper__editmode--vanish {
    display: none;

    .fatex__helper--enable-editmode & {
        display: inherit;
    }
}
