<div class="fatex__chat">
    <div class="fatex__chat__headline__wrapper">
        <div class="fatex__chat__headline fatex__headline fatex__headline--icon fatex__headline--center">
            {{ stunt.name }}
        </div>
    </div>

    <div class="fatex__chat__text">{{{ stunt.data.description }}}</div>
</div>
