<div class="fatex__chat">
    <div class="fatex__chat__headline__wrapper">
        <div class="fatex__chat__headline fatex__headline fatex__headline--icon fatex__headline--center">
            {{ stunt.name }}
        </div>
    </div>

    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni, unde? Dolore voluptatibus nam tempore numquam incidunt in beatae ad, quisquam non, eligendi reiciendis, perspiciatis autem tenetur accusantium officia error sit.</div>
</div>
