<div class="fatex-sheet fatex-item-card">
    <header class="fatex-headline fatex-headline--chat">
        <h3 class="fatex-headline__text">{{item.name}}</h3>
    </header>
    <div class="fatex-item-card__content">
        <div class="fatex-item-card__description">
            {{{item.system.enrichedDescription}}}
        </div>
    </div>
</div>