<div class="fatex-rollWrapper">
    <header class="fatex-headline">
        <h3 class="fatex-headline__text">{{ stunt.name }}</h3>
    </header>

    <div>
        <div >
            {{ stunt.system.shortDescription }}
        </div >

        <div class="fatex-result">
            {{{ stunt.system.description }}}
        </div>
    </div>
</div>
