.fatex__skills {}

.fatex__skills--columns {
    .fatex__skills__columns {
        column-count: 2;
    }
}

.fatex__skills__headline {
    position: relative;
}

.fatex__skill {
    width: 100%;
    padding: $component-padding $component-padding / 2;
    cursor: pointer;
}

.fatex__skill--filler {
    opacity: 0;
}

.fatex__skill__icon {
    transform: translate(15px, -7px);
    color: $sheet-background;
    -webkit-text-stroke: 2px $primary-color;
    text-shadow: initial;
}

.fatex__skill__actions {
    @include edit-settings($headline-background);
    pointer-events: none;
}

.fatex__skill__actions_wrapper {
    position: relative;
    color: $headline-color;
}

.fatex__skill__add {
    margin-bottom: 0;
    cursor: pointer;
}

