<form autocomplete="off" data-id="{{referenceID}}">
    {{log this}}
    <div class="fatex__inline_sheet{{#if defeated}} fatex__inline_sheet--defeated{{/if}}{{#if hidden}} fatex__inline_sheet--hidden{{/if}}">
        <h2 class="fatex__inline_sheet__headline fatex__headline">
            <img alt="{{actor.name}}" data-edit="img" src="{{actor.img}}" />
            <span class="fatex__inline_sheet__headline__name">{{actor.name}}</span>
            {{#unless isToken}}
                <input class="fatex__inline_sheet__headline__fp" name="data.fatepoints.current" type="number" min="0" max="99" value="{{data.fatepoints.current}}">
            {{/unless}}
        </h2>

        <div class="fatex__inline_sheet__content">
            <div class="fatex__inline_sheet__front">
                {{> "systems/fatex/templates/inline-sheet/parts/aspects.html"}}
            </div>

            {{!--<div class="fatex__inline_sheet__back">
                {{> "systems/fatex/templates/inline-sheet/parts/consequences.html"}}
                {{> "systems/fatex/templates/inline-sheet/parts/stress.html"}}
            </div>--}}
        </div>
    </div>


    {{!--<div class="desk">

        <div class="desk__header">
            <div class="fatex__header">
                <div class="fatex__header__name">
                    <label class="fatex__header__label" for="name">{{#if isToken}}Token-{{/if}}{{localize "FAx.Sheet.Name"}}</label>
                    <input class="fatex__header__name__input fatex__input" name="name" type="text" value="{{actor.name}}">
                </div>

                <div class="fatex__header__fate-points">
                    <label class="fatex__header__label fatex__header__label--center" for="name">{{localize "FAx.Sheet.FatePoints"}}</label>

                    <div class="fatex__header__fate-points__wrapper">
                        <input class="fatex__header__fp__input" name="data.fatepoints.current" type="text" value="{{data.fatepoints.current}}">
                        <span class="fatex__header__fatepoint_divider"> / </span>
                        <input class="fatex__header__refresh__input" name="data.fatepoints.refresh" type="text" value="{{data.fatepoints.refresh}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="desk__aspects">
            {{> "systems/fatex/templates/actor/parts/tabloid/aspects.html"}}
        </div>
    </div>--}}
</form>
