.fatex__aspects {
    padding: $component-padding;
}

.fatex__aspects {
    input[type="text"].fatex__aspect__input {
        border-bottom: 1px solid $primary-color;
    }
}

.fatex__aspect {
    margin-top: 10px;
}
