{{> "systems/fatex/templates/item/parts/layout/item-header.html" label="FATEx.Item.Stress.Name" item=item}}

<div class="fatex__settings">
    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>{{localize "FATEx.Item.Stress.Size"}}</span>
        </h2>

        <input type="range" name="data.size" value="{{data.size}}" min="1" max="28"/>
    </div>

    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>{{localize "FATEx.Item.Stress.Boxes.Label"}}</span>
        </h2>

        <div class="fatex__setting__radio__group">
            <div
                    class="fatex__setting__radio{{#ifEquals 0 data.labelType}} fatex__setting__radio--active{{/ifEquals}}"
                    data-value="0"
                    data-name="labelType"
                    data-type="number"
            >
                <img class="fatex__setting__radio__image" alt="ascending" src="systems/fatex/assets/ui/stress/label_preview_0.png">
                <span class="fatex__setting__radio__label">{{localize "FATEx.Item.Stress.Type.Core"}}</span>
            </div>

            <div
                    class="fatex__setting__radio{{#ifEquals 1 data.labelType}} fatex__setting__radio--active{{/ifEquals}}"
                    data-value="1"
                    data-name="labelType"
                    data-type="number"
            >
                <img class="fatex__setting__radio__image" alt="condensed" src="systems/fatex/assets/ui/stress/label_preview_1.png">
                <span class="fatex__setting__radio__label">{{localize "FATEx.Item.Stress.Type.Condensed"}}</span>
            </div>

            <div
                    class="fatex__setting__radio{{#ifEquals 2 data.labelType}} fatex__setting__radio--active{{/ifEquals}}"
                    data-value="2"
                    data-name="labelType"
                    data-type="number"
            >
                <img class="fatex__setting__radio__image" alt="custom" src="systems/fatex/assets/ui/stress/label_preview_2.png">
                <span class="fatex__setting__radio__label">{{localize "FATEx.Item.Stress.Type.Custom"}}</span>
            </div>
        </div>
    </div>

    {{#ifEquals 2 data.labelType}}
        <div class="fatex__setting">
            <h2 class="fatex__headline fatex__setting__headline">
                <span>{{localize "FATEx.Item.Stress.Boxes.Custom"}}</span>
            </h2>

            <label class="fatex__input" for="data.customLabel">
                <span class="fatex__setting__help">{{localize "FATEx.Item.Stress.Boxes.CustomHelp"}}</span>
                <input type="text" class="fatex__setting__input fatex__input__input" name="data.customLabel" value="{{data.customLabel}}"/>
            </label>
        </div>
    {{/ifEquals}}

</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

