{{> "systems/fatex/templates/apps/parts/layout/app-header.html"
    title="FAx.Apps.Builder.Title"
}}

<div class="fatex__character_builder">
    <p class="fatex__character_builder--import-core">
        Import core data
    </p>

    <p class="fatex__character_builder--import-accelerated">
        Import accelerated data
    </p>

    <p class="fatex__character_builder--import-condensed">
        Import condensed data
    </p>

    <p class="fatex__character_builder--clear-all">
        Clear all
    </p>
</div>

{{> "systems/fatex/templates/apps/parts/layout/app-footer.html"}}
