<form autocomplete="off" class="{{cssClass}}">
    <div class="desk">

        {{!--HEADER--}}
        <div class="desk__header">
            {{> "systems/fatex/templates/actor/parts/header.html"}}
        </div>

        <div class="desk__content">
            <div class="desk__content__inner">

                <div class="desk__tabloid">
                    {{!--Aspects--}}
                    <div class="desk__aspects">
                        {{> "systems/fatex/templates/actor/parts/tabloid/aspects.html"}}
                    </div>

                    {{!--Consequences--}}
                    <div class="desk__consequences">
                        {{> "systems/fatex/templates/actor/parts/tabloid/consequences.html"}}
                        {{> "systems/fatex/templates/actor/parts/tabloid/conditions.html"}}
                    </div>

                    {{!--Tabs--}}
                    <div class="desk__tabs fatex__tabs">
                        <nav class="fatex_tabs__navigation" data-group="primary">
                            <a class="fatex_tabs__navigation__item item active" data-tab="skills">{{localize "FATEx.Sheet.Tabs.Skills"}}</a>
                            <a class="fatex_tabs__navigation__item item" data-tab="stunts">{{localize "FATEx.Sheet.Tabs.Stunts"}}</a>
                            <a class="fatex_tabs__navigation__item item" data-tab="extras">{{localize "FATEx.Sheet.Tabs.Extras"}}</a>
                            <a class="fatex_tabs__navigation__item item" data-tab="bio">{{localize "FATEx.Sheet.Tabs.Bio"}}</a>
                        </nav>

                        <div class="fatex__tabs__content">
                            {{!--Skills--}}
                            <div class="fatex__tabs__tab fatex__tabs__tab--skills tab" data-group="skills" data-tab="skills">
                                {{> "systems/fatex/templates/actor/parts/tabs/skills.html"}}
                            </div>

                            {{!--Stunts--}}
                            <div class="fatex__tabs__tab fatex__tabs__tab--stunts tab" data-group="stunts" data-tab="stunts">
                                {{> "systems/fatex/templates/actor/parts/tabs/stunts.html"}}
                            </div>

                            {{!--Extras--}}
                            <div class="fatex__tabs__tab fatex__tabs__tab--extras tab" data-group="extras" data-tab="extras">
                                {{> "systems/fatex/templates/actor/parts/tabs/extras.html"}}
                            </div>

                            {{!--Bio--}}
                            <div class="fatex__tabs__tab fatex__tabs__tab--bio tab" data-group="bio" data-tab="bio">
                                {{> "systems/fatex/templates/actor/parts/tabs/bio.html"}}
                            </div>
                        </div>
                    </div>
                </div>

                {{!--Sidebar--}}
                <div class="desk__sidebar">
                    {{> "systems/fatex/templates/actor/parts/sidebar/artwork.html"}}
                    {{> "systems/fatex/templates/actor/parts/sidebar/stress.html"}}
                </div>
            </div>
        </div>

        {{!--Footer--}}
        <div class="desk__footer">
            {{> "systems/fatex/templates/actor/parts/footer.html"}}
        </div>

    </div>
</form>
