<form autocomplete="off" class="{{cssClass}}">
    <div class="desk">

        {{!--HEADER--}}
        <div class="desk__header">
            {{> "systems/fatex/templates/actor/parts/header.html"}}
        </div>

        <div class="desk__content">
            <div class="desk__content__inner{{#if sheetConfig.flipped}} desk__content__inner--flipped{{/if}}">

                <div class="desk__tabloid">
                    {{!--Messages--}}
                    <div class="desk__messages">
                        {{> "systems/fatex/templates/actor/parts/tabloid/messages.html"}}
                    </div>

                    {{!--Aspects--}}
                    <div class="desk__aspects">
                        {{> "systems/fatex/templates/actor/parts/tabloid/aspects.html"}}
                    </div>

                    {{!--Consequences--}}
                    <div class="desk__consequences">
                        {{> "systems/fatex/templates/actor/parts/tabloid/consequences.html"}}
                        {{> "systems/fatex/templates/actor/parts/tabloid/conditions.html"}}
                    </div>

                    {{!--Tabs--}}
                    <div class="desk__tabs fatex__tabs">
                        <nav class="fatex__tabs__navigation">
                            <a class="fatex__tabs__navigation__item item active" data-tab="skills">{{localize "FAx.Sheet.Tabs.SkillsStunts"}}</a>
                            <a class="fatex__tabs__navigation__item item" data-tab="extras">{{localize "FAx.Sheet.Tabs.Extras"}}</a>
                            <a class="fatex__tabs__navigation__item item" data-tab="bio">{{localize "FAx.Sheet.Tabs.Bio"}}</a>
                        </nav>

                        <div class="fatex__tabs__content">
                            {{!--Skills & Stunts--}}
                            <div class="fatex__tabs__tab fatex__tabs__tab--skills tab" data-tab="skills">
                                <div class="fatex__tabs__tab__content">
                                    {{> "systems/fatex/templates/actor/parts/tabs/skills.html"}}
                                    {{> "systems/fatex/templates/actor/parts/tabs/stunts.html"}}
                                </div>
                            </div>

                            {{!--Extras--}}
                            <div class="fatex__tabs__tab fatex__tabs__tab--extras tab" data-tab="extras">
                                <div class="fatex__tabs__tab__content">
                                    {{> "systems/fatex/templates/actor/parts/tabs/extras.html"}}
                                </div>
                            </div>

                            {{!--Bio--}}
                            <div class="fatex__tabs__tab fatex__tabs__tab--bio tab" data-tab="bio">
                                <div class="fatex__tabs__tab__content">
                                    {{> "systems/fatex/templates/actor/parts/tabs/bio.html"}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="desk__copyright">
                        {{> "systems/fatex/templates/actor/parts/copyright.html"}}
                    </div>
                </div>

                {{!--Sidebar--}}
                <div class="desk__sidebar">
                    {{> "systems/fatex/templates/actor/parts/sidebar/artwork.html"}}
                    {{> "systems/fatex/templates/actor/parts/sidebar/stress.html"}}
                </div>
            </div>
        </div>

        {{!--Footer--}}
        <div class="desk__footer">
            {{> "systems/fatex/templates/actor/parts/config.html"}}
        </div>
    </div>
</form>
