<form autocomplete="off" class="fatex-u-full-height {{cssClass}}">
    <div class="fatex-desk">
        {{!--HEADER--}}
        {{> "systems/fatex/templates/components/header.hbs"}}

        <div class="fatex-desk__content fatex-desk__content--actor-sheet">
            <div class="fatex-desk__tabloid">
                {{!--Tabs--}}
                <div class="fatex-desk__tabs fatex__tabs">
                    <div class="fatex-tabs-content">
                        {{!--Bio--}}
                        <div class="fatex__tabs__tab fatex__tabs__tab--bio">
                            <div class="fatex__tabs__tab__content">
                                {{> "systems/fatex/templates/actor/tabs/bio.hbs"}}
                            </div>
                        </div>
                    </div>
                </div>

                {{> "systems/fatex/templates/components/copyright.hbs"}}
            </div>

            {{!--Sidebar--}}
            <div class="fatex-desk__sidebar">
                {{> "systems/fatex/templates/actor/parts/sidebar/artwork.hbs"}}
            </div>
        </div>
    </div>
</form>
