{{> "systems/fatex/templates/item/parts/layout/item-header.html" title="FAx.Item.Reference.EditItem" item=item}}

<div class="fatex__settings">
    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Reference.Name"
        field = item.name
        fieldName = "name"
        placeholder = "FAx.Item.Reference.Name"
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Reference.ID"
        field = data.id
        fieldName = "data.id"
    }}
</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

