{{> "systems/fatex/templates/item/parts/layout/item-header.html" label="FATEx.Item.Aspect.Name" item=item}}

<div class="fatex__settings">
    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>{{localize "FATEx.Item.Aspect.Label"}}</span>
        </h2>

        <label class="fatex__input" for="data.label">
            <input type="text" name="data.label" class="fatex__setting__input fatex__input__input" value="{{data.label}}" />
        </label>
    </div>

    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>{{localize "FATEx.Item.Aspect.Value"}}</span>
        </h2>

        <label class="fatex__input" for="data.value">
            <input type="text" name="data.value" class="fatex__setting__input fatex__input__input" value="{{data.value}}" />
        </label>
    </div>

    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>{{localize "FATEx.Item.Aspect.Description"}}</span>
        </h2>

        <label class="fatex__input" for="data.description">
            <span class="fatex__setting__help">{{localize "FATEx.Item.Aspect.DescriptionHelp"}}</span>
            <input type="text" name="data.description" class="fatex__setting__input fatex__input__input" value="{{data.description}}" />
        </label>
    </div>
</div>


{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

