{{> "systems/fatex/templates/item/parts/layout/item-header.html" title="FAx.Item.Aspect.EditItem" item=item}}

<div class="fatex__settings">
    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Aspect.Value"
        fieldName = "data.value"
        field = data.value
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Aspect.Label"
        fieldName = "data.label"
        field = data.label
    }}

    {{!--Description is disabled for now--}}
    {{!--{{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Aspect.Description"
        help = "FAx.Item.Aspect.DescriptionHelp"
        fieldName = "data.description"
        field = data.description
    }}--}}
</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

