{{> "systems/fatex/templates/item/parts/layout/item-header.html" label="FATEx.Item.Aspect.Name" item=item}}

<div class="fatex__settings">
    <div class="fatex__setting">
        <h2 class="fatex__headline">
            <span>{{localize "FATEx.Item.Aspect.Size"}}</span>
        </h2>

        <div class="fatex__setting__range">
            <input type="text" class="fatex__setting__range__value" value="{{data.size}}" />
            <input type="range" class="fatex__setting__range__slider" name="data.size" value="{{data.size}}" min="1" max="28"/>
        </div>
    </div>
</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

