{{> "systems/fatex/templates/item/parts/layout/item-header.html" title="FAx.Item.Consequence.EditItem" item=item}}

<div class="fatex__settings">
    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>{{localize "FAx.Item.Consequence.Type.Label"}}</span>
        </h2>

        <div class="fatex__setting__radio__group">
            <div
                class="fatex__setting__radio{{#ifEquals 0 data.type}} fatex__setting__radio--active{{/ifEquals}}"
                data-value="0"
                data-name="data.type"
                data-dtype="Number"
            >
                <img class="fatex__setting__radio__image fatex__setting__radio__image--big" alt="Consequence" src="systems/fatex/assets/ui/consequence/type_consequence.png">
                <span class="fatex__setting__radio__label">{{localize "FAx.Item.Consequence.Type.Consequence"}}</span>
            </div>

            <div
                class="fatex__setting__radio{{#ifEquals 1 data.type}} fatex__setting__radio--active{{/ifEquals}}"
                data-value="1"
                data-name="data.type"
                data-dtype="Number"
            >
                <img class="fatex__setting__radio__image fatex__setting__radio__image--big" alt="Condition" src="systems/fatex/assets/ui/consequence/type_condition.png">
                <span class="fatex__setting__radio__label">{{localize "FAx.Item.Consequence.Type.Condition"}}</span>
            </div>
        </div>
    </div>


    {{#ifEquals 1 data.type}}
        <div class="fatex__setting">
            <h2 class="fatex__headline">
                <span>{{localize "FAx.Item.Consequence.BoxAmount"}}</span>
            </h2>

            <div class="fatex__setting__range">
                <input type="text" class="fatex__setting__range__value" value="{{data.boxAmount}}" />
                <input type="range" class="fatex__setting__range__slider" name="data.boxAmount" data-dtype="Number" value="{{data.boxAmount}}" min="1" max="32"/>
            </div>
        </div>
    {{/ifEquals}}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Value"
        fieldName = "data.value"
        field = data.value
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Label"
        fieldName = "data.label"
        field = data.label
        help = "FAx.Item.Consequence.LabelHelp"
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Icon"
        help = "FAx.Item.Consequence.IconHelp"
        fieldName = "data.icon"
        field = data.icon
    }}

    {{!--Description is disabled for now--}}
    {{!--{{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Description"
        help = "FAx.Item.Consequence.DescriptionHelp"
        fieldName = "data.description"
        field = data.description
    }}--}}

    {{> "systems/fatex/templates/item/parts/settings/setting-automation-skill-enable.html"
        headline = "FAx.Item.Automation.Headline"
    }}

    {{#ifEquals 1 data.type}}
        {{> "systems/fatex/templates/item/parts/settings/setting-automation-boxes.html"
                headline = "FAx.Item.Automation.BoxesHeadline"
        }}
    {{/ifEquals}}
</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

