{{> "systems/fatex/templates/item/parts/layout/item-header.html" title="FAx.Item.Consequence.EditItem" item=item}}

<div class="fatex__settings">
    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>{{localize "FAx.Item.Consequence.Type.Label"}}</span>
        </h2>

        <div class="fatex__setting__radio__group">
            <div
                class="fatex__setting__radio{{#ifEquals 0 data.type}} fatex__setting__radio--active{{/ifEquals}}"
                data-value="0"
                data-name="data.type"
                data-dtype="Number"
            >
                <img class="fatex__setting__radio__image fatex__setting__radio__image--big" alt="Consequence" src="systems/fatex/assets/ui/consequence/type_consequence.png">
                <span class="fatex__setting__radio__label">{{localize "FAx.Item.Consequence.Type.Consequence"}}</span>
            </div>

            <div
                class="fatex__setting__radio{{#ifEquals 1 data.type}} fatex__setting__radio--active{{/ifEquals}}"
                data-value="1"
                data-name="data.type"
                data-dtype="Number"
            >
                <img class="fatex__setting__radio__image fatex__setting__radio__image--big" alt="Condition" src="systems/fatex/assets/ui/consequence/type_condition.png">
                <span class="fatex__setting__radio__label">{{localize "FAx.Item.Consequence.Type.Condition"}}</span>
            </div>
        </div>
    </div>

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Value"
        fieldName = "data.value"
        field = data.value
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Label"
        fieldName = "data.label"
        field = data.label
        help = "FAx.Item.Consequence.LabelHelp"
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Icon"
        help = "FAx.Item.Consequence.IconHelp"
        fieldName = "data.icon"
        field = data.icon
    }}

    {{!--Description is disabled for now--}}
    {{!--{{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FAx.Item.Consequence.Description"
        help = "FAx.Item.Consequence.DescriptionHelp"
        fieldName = "data.description"
        field = data.description
    }}--}}

    <div class="fatex__setting">
        <h2 class="fatex__headline fatex__setting__headline">
            <span>Automation</span>
        </h2>

        {{#each skillReferences as |reference referenceIndex|}}
            <div class="fatex__skill__reference__remove" data-index="{{referenceIndex}}">{{referenceIndex}} - {{reference.skill}}</div>
        {{/each}}

        {{#each actorSkills as |skillName skillIndex|}}
            <div>{{skillName}}</div>
        {{/each}}



        <button class="fatex__skill__reference__create">Add</button>
    </div>
</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

