{{> "systems/fatex/templates/components/item-header.hbs" title="FAx.Item.Extra.EditItem" item=item}}

<button id="create-sub-item">Create sub item</button>

Subitems:

<ul>
    {{log this}}
{{#each subItems as |subItem subItemIndex|}}
    <li class="fatex-js-subitem-delete" data-item="{{subItem.id}}">{{subItem.id}}</li>
{{/each}}
</ul>


{{> "systems/fatex/templates/item/settings/setting-input.hbs"
    headline = "FAx.Item.Extra.Name"
    field = item.name
    fieldName = "name"
    placeholder = "FAx.Item.Extra.Name"
}}

{{> "systems/fatex/templates/item/settings/setting-input.hbs"
    headline = "FAx.Item.Extra.ShortDescription"
    help = "FAx.Item.Extra.ShortDescriptionHelp"
    fieldName = "data.shortDescription"
    field = data.shortDescription
}}

{{> "systems/fatex/templates/item/settings/setting-editor.hbs"
    headline = "FAx.Item.Extra.Description"
    help = "FAx.Item.Extra.DescriptionHelp"
    fieldName = "data.description"
    field = data.description
}}

{{> "systems/fatex/templates/components/item-footer.hbs"}}
