{{> "systems/fatex/templates/item/parts/layout/item-header.html" title="FATEx.Item.Skill.EditItem" item=item}}

<div class="fatex__settings">
    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FATEx.Item.Skill.Name"
        field = item.name
        fieldName = "name"
        placeholder = "FATEx.Item.Skill.Name"
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-rank.html"
        headline = "FATEx.Item.Skill.Rank"
        fieldName = "data.rank"
        field = data.rank
        dtype = "Number"
        radioItems = availableRanks
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.html"
        headline = "FATEx.Item.Skill.Description"
        help = "FATEx.Item.Skill.DescriptionHelp"
        fieldName = "data.description"
        field = data.description
    }}
</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.html"}}

