{{> "systems/fatex/templates/item/parts/layout/item-header.hbs" title="FAx.Item.Reference.EditItem" item=item}}

<div class="fatex-u-full-width">
    {{> "systems/fatex/templates/item/parts/settings/setting-input.hbs"
        headline = "FAx.Item.Reference.Name"
        field = item.name
        fieldName = "name"
        placeholder = "FAx.Item.Reference.Name"
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.hbs"
      headline = "FAx.Item.Reference.Scene"
      field = data.scene
      fieldName = "data.scene"
    }}

    {{> "systems/fatex/templates/item/parts/settings/setting-input.hbs"
        headline = "FAx.Item.Reference.ID"
        field = data.id
        fieldName = "data.id"
    }}
</div>

{{> "systems/fatex/templates/item/parts/layout/item-footer.hbs"}}

