.fatex__settings {
    flex: 1;
}

.fatex__setting {
    padding: $component-padding;
    display: block;
    transition: opacity 0.3s;
}

.fatex__setting--disabled {
    opacity: 0.3;
}

.fatex__setting--min-height {
    min-height: 70px;
}

.fatex__setting__pair {
    display: flex;
}

.fatex__setting__radio__group {
    display: flex;
    justify-content: space-around;
}

.fatex__setting__radio {
    text-align: center;
    cursor: pointer;
    border: 1px solid $primary-color;
    opacity: 0.3;
    border-radius: $component-padding / 2;
    flex-shrink: 0;

    padding: $component-padding / 2;
}

.fatex__setting__radio__group--ranks {
    padding: 0 $component-padding;

    .fatex__setting__radio {
        border: 0;
        color: $primary-color;
        font-weight: 900;
        font-size: 24px;
        text-shadow: 1px 1px 1px $sheet-background;
    }

    .fatex__setting__radio + .fatex__setting__radio {
        margin-left: $component-padding / 2;
    }

    .fatex__setting__radio--active {
        background: none;
    }
}

.fatex__setting__radio + .fatex__setting__radio {
    margin-left: $component-padding;
}

.fatex__setting__radio--active {
    opacity: 1;
}

.fatex__setting__radio__label {
    display: block;
    font-size: 12px;
}

.fatex__setting__radio__image {
    height: 24px;
    margin: 8px;
}

.fatex__setting__radio__image--big {
    height: 40px;
}

.fatex__setting__radio--active {
    background: rgba(0, 0, 0, 0.05);
}

.fatex__setting__help {
    font-size: 10px;
}

.fatex__setting__range {
    display: flex;
}

.fatex__setting__range {
    input[type="text"].fatex__setting__range__value {
        font-weight: 900;
        font-size: 24px;
        color: $primary-color;
        text-shadow: 1px 1px 1px $sheet-background;
        width: 50px;
        text-align: center;
    }
}

.fatex__setting__text {
    div {
        min-height: 200px;
    }
}

.fatex__setting__editor__editor {
    height: 250px;
    overflow: hidden;

    border-bottom: 1px solid $primary-color;
    border-radius: 3px;

    > .editor {
        height: 250px;
    }
}

.fatex__setting__actions {
    opacity: 1;
    pointer-events: all;

    span::before {
        margin-right: $component-padding / 2;
    }
}
