.fatex__chat__headline__wrapper {
    width: 70%;
    margin: auto;
    position: relative;
    margin-bottom: $component-padding;
    margin-top: $component-padding;
}

.fatex__chat__headline__icon {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-25px, 0px);
    font-weight: 900;
    font-size: 24px;
    color: $sheet-background;
    -webkit-text-stroke: 2px $primary-color;
    text-shadow: initial;
}

.fatex__chat__headline__icon--negative {
    color: $caution-color;
}

.fatex__chat__dice {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: $component-padding * 2;
}

.fatex__chat__die {
    font-family: "Fate Icons", sans-serif;
    font-size: 24px;
    color: $primary-color;
}

.fatex__chat__total {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
}

.fatex__chat__ladder {
    color: $primary-color;
    font-weight: 300;
    font-size: 12px;
    display: block;
}
