.fatex__actor_group__inlinesheets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    //grid-gap: 1px;
    //background: black;
    //padding: $component-padding;

    form {
        background: $sheet-background;
        //border: 1px solid black;
        //background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(236, 236, 255, 1) 66%, rgba(133, 133, 133, 1) 100%);
        //border-radius: 5px;
        //box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.33);
    }
}

.fatex__inline_sheet--hidden {
    opacity: 0.3;
}

.fatex__inline_sheet--defeated {
    opacity: 0.5;
}

.fatex__inline_sheet__headline {
    display: flex;
    align-items: center;
    clip-path: none;

    img {
        flex: 0 0 32px;
        height: 32px;
        width: 32px;
        object-fit: cover;
        object-position: 50% 0;

        margin-right: $component-padding / 2;
    }

    .fatex__inline_sheet--defeated & {
        color: $caution-color;
    }
}

.fatex__inline_sheet__headline input[type="number"].fatex__inline_sheet__headline__fp {
    color: white;
    height: 25px;
    font-size: 20px;
    border: none;
    font-weight: 600;
    width: 10px;
}

.fatex__inline_sheet__headline__name {
    flex-grow: 1;

    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.fatex__inline_sheet {
    //padding: $component-padding / 2;
}

.fatex__inline_sheet__content {
    display: grid;
}

.fatex__inline_sheet__front {
    grid-column: 1;
    grid-row: 1;
}

.fatex__inline_sheet__back {
    grid-column: 1;
    grid-row: 1;
}
