.fatex__headline {
    background: $headline-background;
    color: $headline-color;
    padding: $component-padding/2 $component-padding * 2 $component-padding/2 $component-padding * 2;
    @include cutoff(15px);
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 1px 1px 1px $shadow-color;
}

.fatex__headline--icon {
    position: relative;
}

.fatex__headline--center {
    text-align: center;
}

.fatex__headline__actions.fatex__item__actions,
.fatex__headline__actions {
    @include edit-settings($headline-background);
    pointer-events: none;
    right: 10px;
}
