.app {
    color: $light-text-color;
}

.window-app .window-content,
#chat-log .message,
#chat-controls div.roll-type-select select,
#chat-form .cm-s-easymde,
.chat-message .message-header {
    background: $fatex-sheet-background-color;
    color: var(--fatex-primary-text-color, $primary-text-color);
}
