@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-LightItalic.otf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-BoldItalic.otf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-Black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("/systems/fatex/assets/fonts/Montserrat-BlackItalic.otf");
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: "Fate Icons";
    src: url("/systems/fatex/assets/fonts/fate_icons.ttf");
}

#chat-log {
    font-family: $primary-font, sans-serif;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
